{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.us-south.cf.cloud.ibm.com",
      "Org": "wyattblake123@gmail.com",
      "Space": "dev"
    },
    "Name": "demodoi",
    "Instrumentation": {
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}